.responsive-three-column-grid {
    display:block;
    float: center;
    margin-top: 0;
}

.responsive-three-column-grid > * {
    padding:.1rem 1rem;
    margin: 0.5rem;
}

@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.col1{
    border:2px solid crimson;
}
.col2{
    border:2px solid green;
}
.col3{
    border:2px solid #009;
}
.modelcol{
    display:block;
    float:center;
    background-color: antiquewhite;
    padding:1rem 2rem;
    text-align: center;
    border:2px solid darkorange;
}
.exphead{
	background-color: #87ceeb;
	align-content: center;
	text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.linkhead{
    align-content: center;
    text-align: center;
    background-color: bisque;
    border: 2px solid brown;
}
.intro{
    display: block;
    text-align: center;
    font-size:20px;
    color: orangered;
}
canvas {
    display: block;
}
.next{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin-top: 0.5rem;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width:5rem;
    float:right;
}
.next:hover {
  background-color: #ada;
  color: black;
}
.previous{
    display: block;
    float:left;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin-top: 0.5rem;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width:5rem;
}
.previous:hover {
  background-color: #ada;
  color: black;
}

input{
    background-color: #edbb99;
    align-content: center;
    text-align: center;
    font-style:bold italic;
    font-size: 14px;
    color:white;
    border:.5px solid red;
    color: black;
}
input:hover{
    background-color: brown;
    color:white;
}
.plane{
    cursor: crosshair;
}
.boxhead{
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
}
p{
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
}

.stepbtn{
    display:inline-block;
    color:red;
    border:1px solid yellow;
    background: lightyellow;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    width:6rem;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

}
